#link{
	color:rgb(63,252,252);
	font-family: 'Hanuman',serif;
	font-weight: bold;
	text-shadow: -15px 10px 45px blue;
	text-align: center;
	width: 100%;
	margin: 5px 0px 5px 0px;


}

summary{
	color:black;
	font-family: 'Hanuman',serif;
	font-weight: bold;
	text-shadow: -15px 10px 45px blue;
	text-align: center;
	width: 100%;
	margin: 5px 0px 5px 0px;


}

table{
	color:black;
	font-family: 'Hanuman',serif;
	font-weight: bold;
	text-shadow: -15px 10px 45px blue;
	width: 100%;
	margin: 5px 0px 5px 0px;
	text-align: center;

}