h4{
	color:white;
	font-size: 50px;
	font-weight: bold;
	text-shadow: -15px 10px 45px blue;
	text-align: center;
	width: 100%;
	margin: 5px 0px 5px 0px;
}


#formatacao1 	{
	color:rgb(63,252,252);
	font-size: 50px;
	font-family: 'Hanuman',serif;
	font-weight: bold;
	text-shadow: -15px 10px 45px blue;
	text-align: center;
	background-color: black;
	width: 100%;
	margin: 5px 0px 5px 0px;

				}

#formatacao2	{
	color:rgb(63,252,252);
	font-family: 'Courgette', cursive;
	background-color: black;
	text-decoration: underline;



}

#formatacao3
{
	color:rgb(63,252,252);
	background-color: black;
	text-shadow: -15px 10px 45px blue;
	font-size: 70px;
	text-align: center;


}

#texto
{
	font-family: 'Hind Madurai', sans-serif;
	letter-spacing: normal;
	color:black;
	font-weight: bold;

}

a:link
{
  text-decoration: none;
  color: black;
}
a:visited
{
	text-decoration: none;
	color:blue;

}
a:active
{
	text-decoration: none;
	color: black;


}
input:focus
{
	background-color: lightblue;

}
.button {
			background-color: black;
			border-bottom: 5px solid rgb(20,20,20);
			border-right: 5px solid rgb(20,20,20);
			border-top: 5px solid rgb(40,40,40);
			border-left: 5px solid rgb(40,40,40);
			width: 100px;
			height: 45px;
			color:white;
			padding: 10px 0px 10px 0px;
			border-radius: 5px;
			font-size:100%;
		}
.button:hover {
		text-shadow: -15px 10px 45px blue;
		color:rgb(63,252,252);
		background-color:black;
		border-bottom: 5px solid rgb(40,40,40);
		border-right: 5px solid rgb(40,40,40);
		border-top: 5px solid rgb(20,20,20);
		border-left: 5px solid rgb(20,20,20);
		}
body{
	opacity: 1;
	background-image:url("inicio.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;

}

#imagem {
	position: relative;
	line-height: 1em;
	margin-top: 3px;
	background-color: black;
	color: white;
	text-align: justify;
	font-family: arial;
	font-size: 40px;
	text-align: center;
	padding: 0px 0px 15px 0px;
}
a:visited {
	color: white;
}
a:link{
	color: white
}
a:hover{
	color:rgb(63,252,252);
	font-weight: bold;
	text-shadow: -15px 10px 45px blue;
	text-align: center;
	width: 100%;
}
fieldset{
	background: hidden;
}

summary{
	color:black;
	font-size: 20px;
	font-family: 'Hanuman',serif;
	font-weight: bold;
	text-shadow: -15px 10px 45px white;
	text-align: center;
	width: 100%;
	margin: 5px 0px 5px 0px;

}

table{
	color:rgb(63,252,252);
	font-size: 20px;
	font-family: 'Hanuman',serif;
	font-weight: bold;
	text-shadow: -15px 10px 45px blue;
	text-align: center;
	width: 100%;
	margin: 5px 0px 5px 0px;
}


legend{
	color:rgb(63,252,252);
	font-weight: bold;
	text-shadow: -15px 10px 45px blue;
	text-align: center;
	background-color: black;
	width: 100%;

}
@keyframes animation {
	from {
		opacity: 0;
	}
	to {opacity: 1;}


div {
		animation-name: animation;
		animation-duration: 1.5s;
	}
	@media only screen and (max-width: 375px) {
        body {
          font-size: 10px;
        }
    }

    @media only screen and ((min-width: 1024px) and (max-width: 1440px)) {
        body {
          font-size: 30px;
        }
    }
   
}
 #table {
 	background-color: black
 }
 body{
			color:white;
			font-weight: bold;
			text-shadow: -15px 10px 45px white;
		}

p{
	text-shadow: white;
}
label{
	color: black;
}